<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="main-body">
        {{>headers}}
        <img src="/img/RSVP2.jpg" class="portrait">
    </div>

    {{>footer}}
</body>

</html> 