<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="main-body">
        {{>headers}}

        <p>{{errorMessage}}</p>
    </div>


    {{>footer}}
</body>

</html>